* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    height: 100%;
    text-align: center;
    background-image: url("../assets/images/illusion.png");
    overflow-x: hidden;
}

html {
    height: 100%;
}

::selection {
    background-color: #5bc0de;
    color: #ffffff;
}

::-moz-selection {
    background-color: #5bc0de;
    color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

a:hover {
    color: #fff;
    text-decoration: none !important;
}

a:active,
a:focus {
    outline: none;
    text-decoration: none;
}

p {
    line-height: 32px;
}

ul,
li {
    margin: 0;
    padding: 0;
}

fieldset {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
}

button:focus,
button:active {
    outline: 0;
}

.no-padding {
    padding: 0
}

.section-space-padding {
    padding: 100px 0;
}

.section-title {
    text-align: center;
}

.section-title h2 {
    font-weight: 600;
    border-bottom: 4px double #5bc0de;
    border-radius: 25px;
    font-size: 30px;
    margin: 0 auto 30px auto;
    padding: 10px 0;
    width: 350px;
}

.section-title p {
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 40px;
}

.bg-cover {
    background-repeat: no-repeat;
}

.button {
    border: none;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.button:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.button:before {
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

.button-style.fa {
    font-family: 'Roboto', sans-serif !important;
}

.button-style {
    border-radius: 50px;
    border: 3px solid #fff;
    color: #fff;
    overflow: hidden;
}

.button-style:hover {
    background: rgba(91, 192, 222, .9);
    color: #fff;
}

.button-style:active,
.button-style:focus {
    color: #fff;
}

.button-style:before {
    position: absolute;
    height: 100%;
    font-size: 125%;
    line-height: 3.5;
    color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.button-style-icon:before {
    left: 130%;
    top: -2px;
}

.button-style-icon:hover:before {
    left: 80%;
}

.button-style-dark {
    border: 3px solid #000000 !important;
    color: #000000;
}

/* Preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #282828;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 999999;
}

body.loaded #preloader {
    opacity: 0;
    visibility: hidden;
}

.loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #5bc0de;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #5bc0de;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

.loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #5bc0de;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


.intersection-title {
    font: 4vw 'Arial Narrow', sans-serif;
    color: #fefefe;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* stuff for both words */
.intersection-title span {
    position: relative;
}
.intersection-title span:before,
.intersection-title span:after {
    content: '';
    position: absolute;
    border-width: 32px;
    border-style: solid;
    border-color: transparent;
    height: 0;
    z-index: 10;
}

/* stuff for 1st word */
.intersection-title .word1 {
    color: #5bc0de;
    display: inline-block;
    z-index: 10;
}

.intersection-title .word2 {
    z-index: 0;
}

/* Home Section and Navigation Menu */
.home-section {
    height: 100%;
}

.home-section-background {
    position: relative;
    height: 100%;
    z-index: 1;
}

@media only screen and (min-width: 320px) {
    .home-section-background {
        background: url(../assets/xs/bg_main.jpg) no-repeat center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

@media only screen and (min-width: 768px) {
    .home-section-background {
        background: url(../assets/lg/bg_main.jpg) no-repeat center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

.home-section-background:after {
    position: absolute;
    background: rgba(0, 0, 0, .7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

.display-table {
    display: table;
    width: 100%;
    height: 100%;
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.header-text {
    color: #FFFFFF;
}

.head-presents {
    font-size: 16px;
    padding-bottom: 30px;
}

.header-typing {
    padding-top: 30px;
}

.head-typing {
    font-size: 16px;
}

.home-section-background h2 {
    color: #f8f8f8;
    font-size: 3.33rem;
    letter-spacing: 5px;
    margin: 0;
}

.home-section-background p {
    color: #f8f8f8;
    letter-spacing: 4px;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.header-top-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 1039;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.logo {
    padding-top: 28px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.logo a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 14px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.logo a:hover {
    text-decoration: none;
    color: #5bc0de;
}

.logo a:active,
.logo a:focus {
    text-decoration: none;
    color: #5bc0de;
}

.navigation-menu .navbar-nav li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 30px 15px;
    -webkit-transition: .3s;
    transition: .3s;
}

.navigation-menu .navbar-nav li a:hover,
.navigation-menu .navbar-nav li a:active,
.navigation-menu .navbar-nav li a:focus
{
    background: none;
    color: #5bc0de;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.nav li a:focus,
.nav li a:active,
.nav li a:hover {
    background: none;
    color: #5bc0de;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar {
    margin: 0;
}

.navigation-background {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background-image: url(../assets/images/illusion.png);
    opacity: .9;
    -webkit-animation: 200s scroll infinite linear;
    -moz-animation: 200s scroll infinite linear;
    -o-animation: 200s scroll infinite linear;
    -ms-animation: 200s scroll infinite linear;
    animation: 200s scroll infinite linear;
}

.navigation-background .logo {
    padding-top: 18px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navigation-background .navigation-menu .navbar-nav li a {
    color: #fff;
    padding: 20px 15px;
    -webkit-transition: .3s;
    transition: .3s;
}

.navigation-background .navigation-menu .navbar-nav li a:hover {
    color: #5bc0de;
}

.icon-scroll,
.icon-scroll:before {
    position: absolute;
    left: 50%;
}

.icon-scroll {
    width: 40px;
    height: 70px;
    margin-left: -20px;
    margin-top: 24%;
    box-shadow: inset 0 0 0 1px #fff;
    border-radius: 25px;
}

.icon-scroll:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #fff;
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
}

@keyframes scroll {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(46px);
    }
}

/* The Watercove */

.header-image-container {
    position: relative;
}

@media only screen and (min-width: 320px) {
    .header-image-slide1 {
        background: url(../assets/xs/watercove1.jpg);
    }
}

@media only screen and (min-width: 768px) {
    .header-image-slide1 {
        background: url(../assets/lg/watercove1.jpg);
    }
}

@media only screen and (min-width: 320px) {
    .header-image-slide2 {
        background: url(../assets/xs/watercove2.jpg);
    }
}

@media only screen and (min-width: 768px) {
    .header-image-slide2 {
        background: url(../assets/lg/watercove2.jpg);
    }
}

@media only screen and (min-width: 320px) {
    .header-image-slide3 {
        background: url(../assets/xs/watercove3.jpg);
    }
}

@media only screen and (min-width: 768px) {
    .header-image-slide3 {
        background: url(../assets/lg/watercove3.jpg);
    }
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.fill {
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.header-circle {
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    height: 8em;
    width: 8em;
    background-image: url(../assets/images/illusion.png);
    opacity: .9;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.header-circle:hover {
    /*background-color: #5bc0de;*/
    background-image: url(../assets/images/illusionInBlue.png);
    opacity: .9;
}

.bubble-text {
    color: #fff;
    opacity: 1;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 8em;
}

.header-design {
    top: 37%;
    left: 20%;
}

.header-invest {
    top: 60%;
    left: 50%;
}

.header-future {
    top: 28%;
    left: 78%;
}

.header-quality {
    top: 16%;
    left: 36%;
}

.header-property {
    top: 46%;
    left: 64%;
}

.brochure {
    margin-top: 20px;
}

/*******************************
* MODAL AS LEFT SIDEBAR
* Add "left" in modal parent div, after class="modal".
*******************************/
.modal-open .modal {
    z-index: 9999;
}

.modal.left .modal-dialog {
    position: fixed;
    overflow-y: auto;
    margin-top: 0;
    width: 455px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content {
    height: 100%;
    text-align: left;
}

.modal.left .modal-body {
    padding: 15px 45px;
    font-size: 1.4rem;
    font-weight: 300;
}

.modal.left.fade .modal-dialog {
    left: -455px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog {
    left: 0;
}

.modal-content {
    border-radius: 0;
    border: none;
    background-color: rgba(0, 0, 0, .6);
    color: #fff;
}

.modal-header {
    border-bottom-color: #EEEEEE;
    background-color: rgba(0, 0, 0, .6);
    color: #fff;
    padding: 20px;
}

.close {
    color: #fff;
    opacity: 0.8;
}

.close:hover {
    color: #fff;
    opacity: 1;
}

.infoLink {
    color: #5bc0de;
}

.infoLink:hover {
    color: #31b0d5;
}

.infoButton {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.infoButton:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}

/* Contact Us */
.contact-us {
    background-color: #f9f9f9;
}

.contact-us-detail {
}

.contact-us-detail i {
    font-size: 30px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
    transition: all 0.3s ease-in-out;
    width: 88px;
    height: 88px;
    line-height: 88px;
}

.contact-us-detail:hover i {
    box-shadow: 0px 8px 15px 0px rgba(90, 91, 95, 0.33);
    margin-top: -5px;
}

.contact-us-detail a {
    color: #333;
}

.contact-us-detail a:hover {
    color: #333;
}

.form-group {
    margin-bottom: 25px;
}

.form-control {
    border: 2px solid transparent;
    height: 50px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    -ms-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    -o-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    -webkit-transition: all 150ms ease-in-out 0s;
    -moz-transition: all 150ms ease-in-out 0s;
    -ms-transition: all 150ms ease-in-out 0s;
    -o-transition: all 150ms ease-in-out 0s;
    transition: all 150ms ease-in-out 0s;
}

.form-control:focus {
    border-color: #171717;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.form-control:focus {
    border-color: #5bc0de;
    border-width: 2px;
}

/* Responsive */

@media only screen and (min-width: 767px) and (max-width: 991px) {
    .navigation-menu .navbar-nav li a {
        padding: 30px 11px;
        font-size: 12px;
    }

    .navigation-background .navigation-menu .navbar-nav li a {
        padding: 30px 11px;
        font-size: 12px;
    }

    .navigation-background .logo {
        padding-top: 28px;
    }
}

@media only screen and (max-width: 991px) {
    .about-section img {
        position: inherit;
    }

    .call-to-action h2 {
        font-size: 20px;
    }

    .space-set {
        margin-top: 80px;
    }

    .footer-section p {
        text-align: center !important;
    }
}

@media only screen and (max-width: 767px) {
    .navbar-toggle .icon-bar {
        background: #f8f8f8;
    }

    .navigation-background .navbar-toggle .icon-bar {
        background: #fff;
    }

    .navbar-toggle {
        margin-right: 0px;
        margin-top: -30px;
    }

    .navbar {
        min-height: 0px;
    }

    .navigation-menu .navbar-nav li a {
        padding: 11px 15px;
    }

    .navigation-menu .navbar-nav li a:hover {
        color: #5bc0de;
    }

    .navigation-background .navigation-menu .navbar-nav li a:hover {
        color: #5bc0de;
    }

    .navigation-background .navigation-menu .navbar-nav li a {
        padding: 11px 15px;
    }

    .navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse {
        max-height: 420px;
    }

    .navbar-toggle {
        margin-top: -30px;
    }

    .navbar-collapse {
        background: transparent;
    }

    .navigation-background .navbar-collapse {
        background: transparent;
    }

    .home-section-background {
        padding-top: 120px;
    }

    .home-section-background h2 {
        font-size: 22px;
    }

    .section-title h2 {
        font-size: 22px;
    }

    .testimonial-word {
        padding: 0;
    }

    .testimonial-carousel-list {
        margin-top: 0px;
    }

    .statistics-center {
        margin-left: 20%;
    }

    .call-to-action h2 {
        font-size: 18px;
        line-height: 35px;
    }

    .contact-us-detail {
        margin-bottom: 30px;
    }

    .header-circle {
        height: 6em;
        width: 6em;
        top: 50%;
        left: 50%;
    }

    .bubble-text {
        line-height: 8em;
        font-size: 1.2rem;
    }

    .header-design {
        transform: translate(-50%, -200%);
    }

    .header-invest {
        transform: translate(-50%, -50%);
    }

    .header-future {
        transform: translate(-50%, 100%);
    }

    .header-quality {
        transform: translate(-50%, -50%);
    }

    .header-property {
        transform: translate(-50%, -50%);
    }

    .modal.left .modal-dialog {
        margin-top: 66px;
        width: 95%;
    }

    .modal.left .modal-content {
        height: 88%;
    }
}

@media only screen and (max-width: 555px) {
    .home-section-background {
        padding-top: 0 !important;
    }

    .head-presents {
        font-weight: 300;
        font-size: 12px;
        padding-bottom: 0 !important;
    }

    .header-typing {
        padding-top: 14px;
    }

    .head-typing {
        font-size: 12px;
        font-weight: 300;
    }

    .button {
        background-color: rgba(91, 192, 222, .7);
        font-size: 14px !important;
        height: 6em !important;
        width: 6em !important;
        text-align: center !important;
        line-height: 6em !important;
        padding: 0 !important;
        border: 1px solid #fff;
    }

    #contact-form {
        width: 100vw !important;
        height: 100vh !important;
        position: fixed !important;
        top: 0;
        left: 0;
        border: none !important;
    }

    #contact-tab {
        float: left;
        font-size: 12px !important;
    }

    .scroll-to-top {
        top: 85% !important;
    }

    .section-title h2 {
        font-size: 16px;
    }

    .section-title h2 {
        font-weight: 500;
        width: 200px;
    }

    .section-title p {
        font-weight: 300;
        font-size: 12px;
    }

    .home-section-background h2 {
        font-size: 18px;
    }

    .home-section-background p {
        font-size: 14px;
    }

    .panel-body {
        margin-bottom: 100px;
    }
}

@media screen and (orientation: landscape) and (max-width: 750px) {
    .home-section-background {
        padding-top: 0;
    }

    #contact-form {
        overflow-x: scroll;
        width: 100vw !important;
        height: 100vh !important;
        position: fixed !important;
        top: 0;
        left: 0;
    }

    #contact-tab {
        font-size: 14px !important;
        margin-top: 160px !important;
    }

    .head-presents {
        padding-bottom: 0;
        font-size: 14px;
    }

    .head-typing {
        font-size: 14px;
    }

    .header-typing {
        padding-top: 0;
    }

    .header-design {
        transform: translate(-200%, -50%);
    }

    .header-future {
        transform: translate(100%, -50%);
    }

    .modal.left .modal-content {
        height: 80vh;
    }

    .modal-open .modal {
        z-index: 9999;
    }

    .modal-title {
        font-size: 18px;
    }

    #postresultgo, #postresultnogo {
        top: 0 !important;
    }

    .panel-body {
        margin-bottom: 100px;
    }
}

@media only screen and (max-width: 449px) {
    .button {
        padding: 15px 30px;
        font-weight: 600;
        font-size: 10px;
    }

    .button-style:before {
        display: none;
    }

    .modal-title {
        font-size: 16px;
    }

    li {
        font-size: 12px;
    }

    .modal.left .modal-content {
        height: 67%;
    }
}

/* Scroll To Top */

.scroll-to-top {
    background-color: rgba(91, 192, 222, .8);
    display: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    position: fixed;
    top: 90%;
    right: 1%;
    z-index: 2;
}

.scroll-to-top:hover,
.scroll-to-top:focus {
    background-color: #31b0d5;
    color: #ffffff;
}

.carousel .carousel-control {
    z-index: 2;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

/* Contact us */
#contact {
    margin: 0 auto;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 250px;
    margin-left: -3px;
    margin-bottom: -3px;
    z-index: 1040;
}

#contact-form {
    float: left;
    width: 349px;
    z-index: 1000;
    padding-left: 5px;
    padding-right: 10px;
    position: relative;
    bottom: 130%;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

#contact-tab {
    float: right;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    width: 120px;
    height: 42px;
    background-color: rgba(91, 192, 222, .9);
    margin-top: 138px;
    margin-left: -42px;
    padding-top: 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

#contact-tab:hover {
    background-color: rgba(91, 192, 222, .8);
}

#contact-form textarea {
    resize: none;
}

#contact-submit {
    width: 100%;
    height: 36px;
}

#postresultgo,
#postresultnogo {
    top: 246px;
}

.popconf {
    margin-top: -22px;
}

.btn-success,
.btn-danger {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Modal gallery */
.container {
    position: relative;
    width: 100%;
}

/* 600x400 */
.image {
    width: 100%;
    display: block;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 140, 186, .8);
    overflow: hidden;
    width: 100%;
    height: 10%;
    transition: .5s ease;
    line-height: 16px;
    letter-spacing: 0;
}

.container:hover .overlay {
    height: 100%;
}

.textTitle {
    color: white;
    font-size: small;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .textTitle {
    display: none;
}

.text {
    display: none;
    color: white;
    position: absolute;
}

.container:hover .text {
    display: block;
}

.subText {
    color: white;
}

.center {
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-size: small;
}

.top-left {
    position: absolute;
    top: 6%;
    left: 5%;
    font-size: small;
}

.top-left:hover {
    cursor: pointer;
}

.top-right {
    position: absolute;
    top: 6%;
    right: 5%;
    font-size: small;
}

.bottom-right {
    position: absolute;
    font-size: small;
    bottom: 5%;
    right: 5%;
    text-align: left;
}

.bottom-left {
    position: absolute;
    font-size: small;
    bottom: 5%;
    left: 5%;
    text-align: left;
    /*position: absolute;
    top: 80%;
    left: 19%;
    font-size: small;
    text-align: left;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);*/
}

.middle {
    position: absolute;
    width: 89%;
    top: 30%;
    left: 50%;
    font-size: small;
    text-align: left;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/*.inlineText {
    width: 65%;
    display: flex;
    justify-content: space-between;
}*/

.noBulletList {
    list-style-type: none;
}

.giveMeSpaceOnLeft {
    margin-left: 6px;
}

.call-outs-container {
    max-width: 1400px;
    margin: 40px auto 0 auto;
    width: 100%;
    height: auto;
}

.call-out {
    padding: 2px;
    box-sizing: border-box;
    margin-bottom: 20px;
    flex-basis: 32%;
    background-color: rgba(0, 140, 186, .8);
}

@media (min-width: 900px) {
    .call-outs-container {
        display: flex;
        justify-content: space-between;
    }

    .center {
        top: 9%;
    }
}







